/* styles.css */

body {
    text-align: center;
}


/* -------------------
   CAR RACER
   ------------------- */

#countdown-lights {
	width: 210px;
	height: 50px;
	background: #333;
	margin: 30px auto 0;
	position: relative;
}

.start-light {
	height: 28px;
	width: 28px;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
	position: absolute;
	background: red;
	top: 10px;
	border: 1px solid #262626;
}
.start-light.off {
	opacity: 0.2;
}

#light-1 {left: 170px;}
#light-2 {left: 130px;}
#light-3 {left: 90px;}
#light-4 {left: 50px;}
#light-5 {left: 10px;}

#racetrack {
	background: url('../img/road.jpg') center left repeat-x;
	height: 330px;
	border-right: dashed 10px white;
	box-sizing: border-box;
	margin: 40px 0;
}

.car {
	display: block;
	position: relative;
}

#car-1 { top: 30px; }
#car-2 { top: 100px; }

#race-info-container {
	width: 80%;
	margin: 40px auto 0;
	background: #333;
	height: 200px;
}

#race-info-container h2 {
	color: white;
	text-transform: uppercase;
	border-bottom: solid 1px white;
	padding: 20px 0;
}

.race-info {
	font-size: 24px;
	font-weight: bold;
	color: white;
	width: 50%;
	float: left;
}

.race-info span {
	display: block;
	font-weight: normal;
	font-size: 18px;
	color: white;
}

#race-info-1 {
	color: #77b82f;
}

#race-info-2 {
	color: #b82f3e;
}

input[type="button"] {
	background: #77b72f;
	color: white;
	padding: 10px 20px;
	border: solid 1px #444;
}

input#reset {
	background: #fc3;
	color: #444;
}

.clearfix:after {
	content:"";
	display: table;
	clear: both;
}















